@import "../../styles/themes/themify";

.sidebar-container {
  position: relative;
  display: inline-block;
  min-height: 100vh;
  height: 100%;
  width: 200px;
  transition: width 0.3s;

  @include themify {
    background-color: themed('fill-primary');
  }
  .sidebar-toggle-button{
    position: absolute;
    top: 90px;
    right: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    @include themify {
      color: themed('text-reverse');
      box-shadow: 1px 1px 4px themed('fill-reverse');
      background: themed('violet-base');
    }
  }

  &.sidebar-collapse .sidebar-toggle-button {
    transform: rotate(180deg);
  }

  .sidebar-manu {
    overflow: hidden;

    .sidebar-brand {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 200px;
      margin: 30px 0;
      cursor: pointer;
      height: 30px;

      @include themify {
        color: themed('text-primary');
      }


      .sidebar-nav-icon {
        width: 50px;
        height: 50px;
        margin: 0 5px;
      }
      .sidebar-brand-text {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        overflow: hidden;
      }
    }

    .sidebar-nav {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0;
      padding: 5px;
      cursor: pointer;
      width: 200px;
      overflow-x: hidden;

      @include themify {
        color: themed('text-primary');
      }

      &:hover {
        @include themify {
          color: themed('status-active');
        }
      }

      &.sidebar-collapse:after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: currentcolor;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 50%;
        border: none;
        transform: translateY(-50%);
      }

      .sidebar-nav-icon {
        width: 25px;
        height: 25px;
        margin: 0 5px;
      }
      .sidebar-nav-button {
        font-size: 18px;
        margin: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.sidebar-collapse {
  width: 60px !important;
}
