@import "../../styles/themes/themify";

.attendance-main {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    //width: 100%;
    flex-grow: 1;

    .calendar {
        margin: 5px;
    }
}

.attendance-modal-main{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 10px;

    select {
        border: none;
        outline: 0;
        font-weight: 400;
        font-size: 1rem;
        margin: 0 5px;
        &:focus {
            outline: 0;
            @include themify {
                border-color: rgba(themed('violet-base'), 0.1);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 0 8px rgba(themed('violet-base'), 0.75);
            }
        }
    }

    label {
        margin-right: 3px;
        font-weight: 400;
    }
    input {
        border-radius: 3px;
        transition: border-coor ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        font-size: 1rem;
        padding: 5px;
        @include themify {
            border: 1px solid rgba(themed('text-primary'), 0.1);
            color: rgba(themed('text-primary'), 0.8);
        }
        &:focus {
            outline: 0;
            border-color: rgba(themed('violet-base'), 0.1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 0 8px rgba(themed('violet-base'), 0.75);
        }
    }
    button {
        border-radius: 3px;
        border: none;
        margin: 5px 0;
        padding: 3px;
        cursor: pointer;
        @include themify {
            color: themed('text-reverse');
            background-color: themed(violet-base);
        }
    }
}
