$night-colors: (
  'TextBase': #843097
);
$TextBase: TextBase;
$webadk-themes: () !default;

$webadk-themes: map-merge(
                (
                        "night": $night-colors
                ),
                $webadk-themes
);
