@import '../styles/themes/themify';
@import '../styles/responsive/responsive';

.dashboard-main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .dashboard-user-overview {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;

    @include themify {
      color: themed('text-primary');
    }

    .dashboard-user-name {
      font-size: 26px;
      font-weight: 600;
    }

    .dashboard-user-summary {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 10px;

      &-item {
        @extend .dashboard-user-summary;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;

        &:first-of-type {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:last-of-type {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        @include themify {
          background-color: themed('fill-primary');
          border-right: 1px solid rgba(themed('text-primary'), 0.1);

          &:last-of-type {
            border-right: none;
          }
        }
      }

      &-title {
        @extend .dashboard-user-summary;
        font-size: 20px;
        font-weight: 400;
      }

      &-content {
        @extend .dashboard-user-summary;
        font-size: 18px;
      }

    }
  }

  .dashboard-charts {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;



    .chart {
      width: 50%;
      height: auto;
      margin: 5px;

      &:last-of-type {
        margin-left: 0;
      }
      @include themify {
        background-color: themed('fill-primary');
      }
    }

    .dashboard-pie-chart {
      width: 50%;
      height: 300px;
      margin: 5px;
      padding: 10px;

      @include themify {
        background-color: themed('fill-primary');
      }

    }
  }
}
