@import "../styles/themes/themify";

.dashboard-main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .dashboard-charts {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .dashboard-pie-chart {
      width: 50%;
      height: 300px;
      margin: 5px;
      padding: 10px;

      @include themify {
        background-color: themed('fill-primary');
      }
    }
  }
}
